@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400&family=Sarabun:ital,wght@0,200;0,300;0,500;1,100;1,200;1,400;1,500&display=swap');

/* font-family: 'Joti One', serif;
font-family: 'Lato', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sarabun', sans-serif; */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    width: 100vw;
   

    
}

.container{
    position: relative;
   
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    background: linear-gradient(to right, #024774, #05652b);
 
}
.container h1{
    color: rgb(249, 119, 27);
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top:100px
}

.alturapeso{
    width: 80%;
}
.alturapeso, .btn_calcular{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}
#img{
    height: 200px;
    width: 200px;
    background-color: red;
}

.box_medidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   padding: 10px;
   max-width: 700px;
   width: 80%;
   height: 20%;
    /* background-color: blue; */
   
}

.alturapeso label{
    font-family: 'Sarabun', sans-serif;
    font-size: 1.4em;
    color: rgb(255, 180, 180);
    margin: 5px;
}
.alturapeso input{
    border: none;
    font-size: 2em;
    color: #6e16c6;
    padding: 15px;
    width: 100%;
    border-radius:7px;
    outline: none;
}
.alturapeso input:hover{
    outline: 3px solid rgb(0, 255, 140);
}
.btn_calcular{
    padding: 20px;
    width: 80%;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    align-items: center;
    background-color: #5608a4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(36, 193, 193);
}
.btn_calcular:hover{
    background-color: #6f19c4;
}

.modal{
    display: none;
}

.modal_backdrop{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    background-color: rgba(0,0, 0,0.5);
}
.modal_body{
    
    position:fixed;
    right:5%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #24343a;
    bottom: 5%;
    left: 5%;
}
.imc_result{
    width: 100%;
    text-align: center;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    /* background-color: rgb(174, 21, 21); */
}
.img_result{
    width: 100%;
    min-width: 100%;
    max-width: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40%;
    background-color: black;
    align-items: center;
    justify-content: center;
   
   
}
.imgre{
    width: 100%;
    max-width: 500px;
    height: 90%;
    gap: 10px;
  
   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.img_result img{
  display: block;
  width: 100%;
   height:100%;
   ;
}
.btn_close{
    background-color: rgb(255, 0, 230);
    padding: 9px;
    border-radius: 5px;

    text-align: center;
    color: white;
    cursor: pointer;
}
.infor_imc{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5em;
}

.imcR{
    color: rgb(206, 54, 54);
}
.imc_result h2{
    font-family: 'Lato', sans-serif;
    color: rgb(58, 236, 58);
}